<div class="col-6">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatinginput" value="{{this.first_name}}" placeholder="first name" name="first_name" >
    <label for="floatinginput"> First Name</label>
  </div>
  <div class="col-6">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatinginput" value="{{this.last_name}}" placeholder="last name" name="last_name" >
    <label for="floatinginput"> Last Name</label>
  </div>
  <div class="col-6">
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatinginput" value="{{this.email}}" placeholder="email@email.com" name="email" >
    <label for="floatinginput"> Email</label>
  </div>
  <div class="col-6">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatinginput" value="{{this.phone}}" placeholder="phone" name="phone" >
    <label for="floatinginput">Phone</label>
  </div>
  </div>
<div class="col-12">
  <div class="form-floating mb-3">
    <textarea type="text" class="form-control" id="floatinginput" value="{{this.comments}}" placeholder="comments" name="comments" style="height: 200px;"></textarea>
    <label for="floatinginput">Comments</label>
  </div>
</div>
<div class="col-12 d-grid">
  <button class="btn btn-primary" type="submit">Submit</button>
</div>